<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<ion-content     [scrollEvents]="true">  
<div class="background">

   
    <div class="dialog">
        <div class="cancel-image">
            <img src="../../assets/images/cancel.png">
        </div>

        <div class="month">
            January
        </div>

        <div class="days">

            <div class="scroll" scrollX="true">
                <table>
              <span class="diff">
            
                  <td class="tble">
                    <p class="set">Mon</p>
                    <div class="calender1">12</div>
                    
                    
                    
                  </td>
                </span>

                <span class="diff">
            
                    <td class="tble">
                      <p class="set">Tue</p>
                        <div class="calender2">13</div>
                      
                      
                      
                    </td>
                  </span>

                  <span class="diff">
            
                    <td class="tble">
                      <p class="set">Wed</p>
                      <div class="calender1">14</div>
                      
                      
                    </td>
                  </span>

                  <span class="diff">
            
                    <td class="tble">
                      <p class="set">Thurs</p>
                      <div class="calender1">15</div>
                      
                    
                    </td>
                  </span>

                  <span class="diff">
            
                    <td class="tble">
                      <p class="set">Fri</p>
                      <div class="calender3">16</div>
                      
                      
                    </td>
                  </span>

                  <span class="diff">
            
                    <td class="tble">
                      <p class="set">Sat</p>
                      
                      <div class="calender1">17</div>
                      
                      
                    </td>
                  </span>

                  <span class="diff">
            
                    <td class="tble">
                      <p class="set">Sun</p>
                      
                      <div class="calender2">18</div>
                      
                      
                    </td>
                  </span>

                  
        
                </table>
        
        
               </div>

        </div>

        

        <div class="AM">AM</div>
        <div class="AM-time">
          <ion-row class="row">
            <ion-col  size="3.2"class='AM-time-settings'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>

            <ion-col size="3.2" class='AM-time-settings'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>

            <ion-col size="3.2"class='AM-time-settings'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>


            <ion-col size="3.2"class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>


          </ion-row>
        </div>

        <div class="PM">
            PM
        </div>

        <div class="PM-time">

          <ion-row class="row">
            <ion-col  size="3.2"class='AM-time-settings-last'>
              <button class="special-1">10:00~10:30</button>
            </ion-col>

            <ion-col size="3.2" class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>

            <ion-col size="3.2"class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>


            <ion-col size="3.2"class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>

            <ion-col  size="3.2"class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>

            <ion-col size="3.2" class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>

            <ion-col size="3.2"class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>


            <ion-col size="3.2"class='AM-time-settings-last'>
              <button class="special-2">10:00~10:30</button>
            </ion-col>

            <ion-col  size="3.2"class='AM-time-settings-last'>
              <button class="special-1">10:00~10:30</button>
            </ion-col>

            <ion-col size="3.2" class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>

            <ion-col size="3.2"class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>


            <ion-col size="3.2"class='AM-time-settings-last'>
              <button class="time-button">10:00~10:30</button>
            </ion-col>


          </ion-row>
        </div>


        <div class="book-now1">
          <button class="book-now">
            Next
        </button>
        </div>
    </div> 

</div>

</ion-content>